/*####  ########*/

body {
  font-family: 'Oxygen', sans-serif;
  display: flex;
  align-items: center;
}
.bubbles {
  max-width: 900px;
  background-color: steelblue;
  border-radius: 15px;
}
