/*####  ########*/

body {
  font-family: 'Oxygen', sans-serif;
  display: flex;
  justify-content: center;
  background-image: url("img/community_center.jpg");
  background-attachment: fixed;
  /*background-size: 100%;
  background-repeat: no-repeat;*/   /*needs to go inside media query*/
}
.bubbles {
  max-width: 900px;
  background-color: #5889D6;
  border-radius: 15px;
  margin-top: 20%;
  margin-bottom: 30%;
  opacity: 0.85;
}
#heading {
  display: flex;
  justify-content: center;
}
#nav {
  display: flex;
  justify-content: space-around;
  background-color: #B8AD8F;
  opacity: 0.85;
}
